body {
    font-family: Helvetica, Arial, sans-serif;
    background: #2c3e50;
    padding: 20px;
    margin: 0px;
}

h1 {
    font-weight: bold;
    font-size: 50pt;
    color: white;
}

form{
    position: relative;
    margin-top: 10px;
    width: 100%;
}

form input[type='text']{
    position: absolute;
    left:0px;
    top:0px;
    bottom:0px; 
    width: 85%;
    height: 40px;
    margin-right:10px;
    box-sizing: border-box;
    border: 1px solid #282823;
    border-radius: 10px;
    float:left;
    padding:10px;
}

form input[type='submit'] {
    position: absolute;
    background: #16a085;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #282823;
    border-radius: 10px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 15%;
    min-width: 70px;
    height: 40px;
    padding: 10px;
}

#log_container{
    background: white;
    height: 300px;
    border: 1px solid #282823;
    border-radius: 10px;
    padding: 10px;
}

#chatlog {
    background: white;
    height: 280px;
    overflow: auto;
}

#error{
    font-weight: bold;
    color: #FFFF;
}